/* defaults */ 
@font-face {
	font-family: Noto Sans Mono;
	src: url('./assets/fonts/Noto_Sans_Mono/static/NotoSansMono/NotoSansMono-Regular.ttf');
	font-weight: 400;
	line-height: normal;
}
@font-face {
	font-family: Noto Sans Mono Bold;
	src: url('./assets/fonts/Noto_Sans_Mono/static/NotoSansMono/NotoSansMono-Bold.ttf');
	font-weight: 700;
	line-height: normal;
}

body {
	font-family: Noto Sans Mono;
	font-size: 2.6vw;
	color: white;
	background-color: #364E45;
}

/* fade-in rule */
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 100;}
}
@keyframes fadecurrent {
	from {background-color: #171517;}
	to {background-color: #B27092;}
}

/* style side nav */
.sidenav {
	/* display: none; */
	position: fixed;
	z-index: 1;
	bottom: 0;
	margin-left: -15vw;
	background-color: #171517;
	overflow: hidden;
	opacity: 0.85;
}
.sidenav table {
	height: 1vw;
	border-collapse: collapse;
	margin-right: 0vw;
	padding-right: 0px;
	border: #171517;
	border-style: solid;
	border-left-width: 42.5vw;
	border-right-width: 100vw;
}
/* side nav links */
.sidenav a {
	display: inline;
	color: white;
	padding: .5vw;
	text-decoration: none;
}
/* change link color on hover */
.sidenav a:hover {
	color: #729EA1;
}
/* style current page link */
.sidenav #current{
	animation-name: fadecurrent;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}


/* style header div */
.header { 
	position: relative;
}
.header h2{
	font-family: Noto Sans Mono Bold;
	margin-top: 2vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
	animation-name: fadein;
	animation-duration: 2s;
}
/* style annotations/subtitles */
.header #sub {
	font-size: 1.7vw;
	margin-left: 2vw;
	margin-bottom: 3.5vw;
	animation-name: fadein;
	opacity: 0;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}

/* "elevator pitch" styling */
.elevator p {
	margin-left: 10vw;
	margin-right: 10vw;
	animation-name: fadein;
	opacity: 0;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}

/* style footer div */
.footer {
	font-size: 1.2vw;
	padding-top: -3vw;
	margin-bottom: 5vw;
	bottom: 0px;
	text-align: center;
	width: 100%;
}
.footer table {
	height: 1vw;
	border-collapse: collapse;
}
.footer a {
	color: white;
	padding: .5vw;
	/* text-decoration: none; */
}