/* defaults */ 
body {
	font-family: monospace;
	font-size: 2.6vw;
	color: white;
	background-color: #364E45;
}

/* fade-in rule */
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 100;}
}
@keyframes fadecurrent {
	from {background-color: #171517;}
	to {background-color: #B27092;}
}

/* style side nav */
.sidenav {
	position: fixed;
	z-index: 1;
	bottom: 0;
	margin-left: -15vw;
	background-color: #171517;
	overflow: hidden;
	opacity: 0.85;
}
.sidenav table {
	height: 1vw;
	border-collapse: collapse;
	margin-right: 0vw;
	padding-right: 0px;
	border: #171517;
	border-style: solid;
	border-left-width: 42.5vw;
	border-right-width: 100vw;
}
/* side nav links */
.sidenav a {
	display: inline;
	color: white;
	padding: .5vw;
	text-decoration: none;
}
/* change link color on hover */
.sidenav a:hover {
	color: #729EA1;
}
/* style current page link */
.sidenav #current{
	animation-name: fadecurrent;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}


/* style header div */
.header { 
	position: relative;
}
.header h2{
	margin-top: 2vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
	animation-name: fadein;
	animation-duration: 2s;
}
/* style annotations/subtitles */
.header #sub {
	font-size: 1.7vw;
	margin-left: 2vw;
	margin-bottom: 3.5vw;
	animation-name: fadein;
	opacity: 0;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}

/* "elevator pitch" styling */
.elevator p {
	margin-left: 10vw;
	margin-right: 10vw;
	animation-name: fadein;
	opacity: 0;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}
