/* defaults */ 
body {
	font-family: monospace;
	font-size: 2.6vw;
	color: white;
	background-color: #364E45;
}


/* style side nav */
.sidenav {
	position: fixed;
	z-index: 1;
	bottom: 0;
	margin-left: -15vw;
	background-color: #171517;
	overflow: hidden;
	opacity: 0.85;
}
.sidenav table {
	height: 1vw;
	border-collapse: collapse;
	margin-right: 0vw;
	padding-right: 0px;
	border: #171517;
	border-style: solid;
	border-left-width: 42.5vw;
	border-right-width: 100vw;
}
/* side nav links */
.sidenav a {
	display: inline;
	color: white;
	padding: .5vw;
	text-decoration: none;
}
/* change link color on hover */
.sidenav a:hover {
	/* background-color: #ddd; */
	color: #729EA1;
}
/* style current page link */
.sidenav #current{
	background-color: #B27092;
}


/* style content */
.content { 
	position: fixed;
	overflow: scroll;
}

.content h2{
	margin-top: 2vw;
	margin-left: 1vw;
	margin-bottom: 1vw;
}

/* style annotations/subtitles */
.content #sub {
	font-size: 1.7vw;
	margin-left: 2vw;
	margin-bottom: 3.5vw;
}


/* album cover styling */
.recent img {
	text-align: center;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	padding-top: 9.5vw; 
	width: 29%;
}
.recent p {
	text-align: center;
	font-size: 2vw;
	display: block;
	margin-left: auto; margin-right: auto;
	margin-top: 0.5vw;
}
.recent a {
	color: inherit;
	text-decoration: none;
}