/* album cover styling */
.release-nfo {
	animation-name: fadein;
	opacity: 0;
	/* animation-delay: 1.9s; */
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}
.release-nfo img {
	text-align: center;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	/* padding-top: 8.8vw;  */
	padding-top: 3vw; 
	/* margin-top: 3vw; */
	width: 29%;
}
.release-nfo p {
	text-align: center;
	font-size: 2vw;
	display: block;
	margin-left: auto; margin-right: auto;
	margin-top: 0.5vw;
}
.release-nfo a {
	color: inherit;
	text-decoration: none;
	animation-name: fadein;
	opacity: 0;
	animation-delay: 2ccs;
	animation-fill-mode: forwards;
	animation-duration: 1.5s;
}

